:root {
  --sl-nav-height: 4rem;
  --sl-content-width: 100%;
  --sl-color-accent: rgb(255, 71, 58);
  --sl-color-accent-high: rgb(255, 71, 58);

  --sl-color-bg: #ffffff;
  --sl-color-bg-nav: #f7fff5;
  --sl-color-bg-sidebar: #fafbfc;

  --image-filter: brightness(0);
}

[data-theme='dark'] {
  --sl-color-text: white;
  --sl-color-bg-nav: #1a1d23;
  --sl-color-bg-sidebar: #1b1f2a;
  --sl-color-bg: #0f1114;
  --image-filter: brightness(0) invert(1);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1.1rem;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.header {
  height: 4rem;
}

.main-pane {
  padding: 1rem;
}

.sidebar {
  position: fixed !important;
  top: var(--sl-nav-height) !important;
  left: 0 !important;
  height: calc(100vh - var(--sl-nav-height)) !important;
  z-index: 10 !important;
}

.sidebar li {
  margin-bottom: 1.5rem;
}

.sidebar a {
  padding: 1rem;
  font-size: 1rem;
}

.sidebar a[aria-current='page'] {
  color: white;
  background-color: rgb(50, 50, 50);
}

.sidebar a[aria-current='page']:hover {
  color: white;
}

.sidebar a:hover {
  background-color: rgb(50, 50, 50);
  color: white;
}

.right-sidebar-panel {
  padding-left: 6px;
  padding-right: 6px;
}

.right-sidebar-container {
  width: 14rem;
  max-width: 14rem;
}

.sl-container ul {
  width: 80%;
}

.right-sidebar-container span {
  font-size: 0.7rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.content-panel {
  margin-top: 0 !important;
  padding-top: 1rem !important;
  margin-left: 0 !important;
}

footer a:hover {
  border: 1px solid rgb(255, 71, 58);
  transition: all 0.3s ease;
}

#starlight__on-this-page {
  font-size: 1rem;
}

@media (max-width: 768px) {
  :root {
    --sl-nav-height: 5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .header {
    height: 3rem;
  }

  .sidebar {
    top: var(--sl-nav-height) !important;
  }
}
