---
import LandingHeader from '../components/LandingHeader.astro';
import Team from "../components/Team.astro";
import LandingFooter from "../components/LandingFooter.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Vispyr</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <LandingHeader />
    <main style="margin-top: 6rem; padding-top: 2rem;">
      <Team />
    </main>
    <LandingFooter />
  </body>
</html>