---
import { Icon } from '@astrojs/starlight/components';

import "../styles/styles.css";
import derekHeadshot from "../assets/derek-headshot.jpg";
import jeffreyHeadshot from "../assets/jeffrey-headshot.png";
import joeHeadshot from "../assets/joe-headshot.png";
import kipHeadshot from "../assets/kip-headshot.jpeg";

const team = [
  {
    name: 'Derek Novak',
    img: derekHeadshot.src,
    location: 'Austin, TX, USA',
    github: 'https://github.com/dereknovak',
    linkedin: 'https://www.linkedin.com/in/derek-novak-2754a3289/',
    resume: ''
  },
  {
    name: 'Jeffrey Houghton',
    img: jeffreyHeadshot.src,
    location: 'Kansas City, MO, USA',
    github: 'https://github.com/HoughtonJK',
    linkedin: 'https://www.linkedin.com/in/jeffrey-houghton-a92b95353/',
    resume: ''
  },
  {
    name: 'Joe Cardoso',
    img: joeHeadshot.src,
    location: 'Toronto, ON, CA',
    github: 'https://github.com/JoeCardoso13',
    linkedin: 'https://www.linkedin.com/in/joe-cardoso-eng/',
    resume: ''
  },
  {
    name: 'Kipchumba Chelilim',
    img: kipHeadshot.src,
    location: 'Detroit, MI, USA',
    github: 'https://github.com/KipChelilim',
    linkedin: 'https://www.linkedin.com/in/kchelilim/',
    resume: ''
  }
]
---
<section id="team">
  <h2 id="team-intro">Meet the <strong>Team</strong></h2>
  <div class="team-members">
    {team.map(({name, img, location, github, linkedin, resume}) => (
      <div class="card">
        <div class="card-top">
          <img class="member-headshot" src={img} alt="Team Member headshot" />
          <h3>{name}</h3>
          <div class="headshot-links">
            <a href={github} target="_blank"><Icon name="github" size="1.5rem" color="white" /></a>
            <a href={linkedin} target="_blank"><Icon name="linkedin" size="1.5rem" color="white" /></a>
          </div>
        </div>
      </div>
    ))}
  </div>
</section>
